@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
	
}


<h1 class="title">@Model.Value("pageTitle")</h1>
@{
    var image = Model.Value<IPublishedContent>("campaignImage");
}
<img src="@image.Value("umbracoFile")" class="campaign-image"/>
<h3 class="campaign-text">@Model.Value("campaignText")</h3>

<script>
    $(".campaign-image").on("click", function () {
        window.hash = '#/products/';
    });
</script>