
.product-image {
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    background-size: 200px 150px;
}
.product-container {
    width: 200px;
    outline: 1px solid black;
    margin-left: 25px;
    margin-top: 25px;
}
.products-container {
    display:flex;
    justify-content:center;
    align-content:center;
}